<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ykskoc">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/main1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7739380766735309~9659621221"/>
        <activity android:name="ykskoc.example.snavadogru.FirstScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ykskoc.example.snavadogru.FirstScreen.GirisActivity" />
        <activity android:name="ykskoc.example.snavadogru.FirstScreen.KaydolActivity" />
        <activity android:name="ykskoc.example.snavadogru.SikSorulanSoru.SSS" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.denemeTakipLibrary" />
        <activity android:name="ykskoc.example.snavadogru.Kendin.zamanTakip" />
        <activity android:name="ykskoc.example.snavadogru.Kendin.kendiniDene" />
        <activity android:name="ykskoc.example.snavadogru.Kendin.ProgramYap.addPlanActivity" />
        <activity android:name="ykskoc.example.snavadogru.Kendin.ProgramYap.showDay" />
        <activity android:name="ykskoc.example.snavadogru.Kendin.ProgramYap.programYap" />
        <activity android:name="ykskoc.example.snavadogru.puanHesapla.PuanSonuc" />
        <activity android:name="ykskoc.example.snavadogru.Camera.NewCamera" />
        <activity android:name="ykskoc.example.snavadogru.Camera.CozemediginSorular"/>
        <activity
            android:name="ykskoc.example.snavadogru.KonuTakip.Konu_takip"
            android:label="@string/title_activity_konu_takip" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.TytKonulari.tytKonuTurkce" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.TytKonulari.tytKonuMat" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.TytKonulari.tytKonuFen" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.TytKonulari.tytKonuSosyal" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.aytKonuSay" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.aytKonuSoz" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.aytKonuEa" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.aytKonuDil" />
        <activity android:name="ykskoc.example.snavadogru.KonuTakip.aytKonulari" />
        <activity android:name="ykskoc.example.snavadogru.SoruTakip.SoruTakip" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.DenemeTakip" />
        <activity
            android:name="ykskoc.example.snavadogru.DenemeTakip.denemeTYT_TakipPopUpAdding"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.denemeTYTtakip" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.denemeSAYtakip" />
        <activity
            android:name="ykskoc.example.snavadogru.DenemeTakip.denemeSAY_TakipPopUpadding"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.denemeEAtakip" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.denemeSOZtakip" />
        <activity android:name="ykskoc.example.snavadogru.DenemeTakip.denemeDiltakip" />
        <activity android:name="ykskoc.example.snavadogru.puanHesapla.PUAN" />
        <activity android:name="ykskoc.example.snavadogru.REHBERLİK" />
        <activity android:name="ykskoc.example.snavadogru.Options" />

    </application>

</manifest>